build
.gradle

npm-debug.log
newrelic.jar

.project
.classpath
.settings
.idea/*
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
!.idea/inspectionProfiles/
!.idea/jsLibraryMappings.xml
**/*.iml
web/npm-debug.log.*
